{% extends "base.html" %}
{% block content %}
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
 integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
 crossorigin=""></script>
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
    <div>
      <div>
          <div>
            <label >Content served to leaflet</label>
            <select id="loc_option" name="loc_option" hx-get="/fillit" hx-target="#fillit" hx-indicator=".htmx-indicator">
              <option value="0">---</option>
              {% for location in ['one', 'two'] %}
                <option value="{{ location }}">{{ location }}</option>
              {% endfor %}
            </select>
          </div>       
   <div id="mapid"></div>
   <script src="{{url_for('static', filename='strart.js')}}"></script>
          <div class>
            <label>Form</label>
            <div id="fillit" name="fillit" hx-post="/save_note" hx-target="#save_note" hx-indicator=".htmx-indicator"></div>
          </div>
          <div>
      </div>
    </div>
</body>
{% endblock %}
